* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Lato', sans-serif;
}

body {
    padding: 50px;
}


img {
    display: block;
    width: 500px;
    margin: 20px 0;
}

button {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
}